<!DOCTYPE html>
<html>
<head>
<title>Servicios</title>
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="css/style2.css") }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



  
  
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-blue w3-hover-amber w3-padding w3-card" style="letter-spacing:4px;">
      <a href="../index" class="w3-bar-item w3-button">Courtyard/Residence Inn New York Manhattan/Central Park </a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="../index" class="w3-bar-item w3-button">Home</a>
        <a href="#acerca" class="w3-bar-item w3-button">Acerca</a>
        <a href="../login" class="w3-bar-item w3-button">Login</a>
      </div>
    </div>
  </div>
  <!-- End Navbar (sit on top) -->




<!-- Page content -->
<div class="w3-content " style="max-width:1600px; background-color: blanchedalmond;" id="">

    <!-- About Section -->
    

  <div class="w3-row w3-padding-64" id="">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <!-- <img src="/w3images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750"> -->

     <video class="w3-round w3-image w3-opacity-min" alt="Nubes en la playa" width="600" height="750"  src="../static/videos/Video_Hotel4.mp4" autoplay muted loop></video>

    </div>
    

    <div class="w3-col m6 w3-padding-large">
      <br>
      <br>
      <h1 class="w3-center">Historia de nuestro hotel</h1><br>
      <h5 class="w3-center">La Proteccion con acogimiento comenzo aqui</h5>
      <br>
      <br>

      <h6 class="w3-large">En 1925, el magnate humilde Jose Diaz  reunió sus recursos con otros inversores para comprar el Hotel Great Beach en una pequeña ciudad costera de Manhattan. Gracias al inigualable servicio y hospitalidad que brindó a cada huésped, su enfoque se trasladó de los bienes raíces a la hospitalidad. El excelente servicio y las experiencias auténticas se convirtieron en la base de lo que se convertiría en uno de los primeros hoteles internacionales con sede en los EE.UU., Y siguen siendo una tradición apreciada que Courtyard ha honrado durante más de 90 años.</h6>
      <br>
      <h6 class="w3-large">Desde su fundación, Courtyard ha construido, ideado, administrado y diseñado hoteles en todo el mundo. Nuestra misión ha sido la misma: brindar a nuestros huéspedes una experiencia de calidad auténtica y tratar a todos los que cruzan nuestras puertas con integridad. Adoptamos nuestra herencia de servicio inigualable durante décadas mientras nos mantenemos en sintonía con el viajero de hoy. Y lo hacemos con integridad y pasión.</h6>
      <p>

      </p>
    </div>
  </div>
  
  <hr>

  <!-- About section 2 -->
  
  <div class="w3-row w3-padding-64 " >
    <div class="w3-col l6 w3-padding-large" id="acerca">
      <br>
      <br>
      <br>
      <h1 class="w3-center" >Quienes Somos</h1><br>
      
    
      <h4>Misión</h4>
      <p class="w3-text-grey">Brindarle a nuestros clientes confianza, excelente calidad en el servicio, mediante estrategias integrales de crecimiento en lo humano, técnico y organizacional; contando con personal creativo el cual trabaja unido bajo una sola meta, enamorar a nuestros visitantes</p><br>
    
      <h4>Visión </h4>
      <p class="w3-text-grey">Ser reconocidos a nivel nacional e internacional, como el lugar de acogimiento, a la orilla del mar, amable, seguro y acogedor, donde además de atender como hotel, pueda descansar y disfrutar de nuestros servicios acordes a la imagen de Manhattan, ciudad de la buena vida.</p><br>
    
      <h4>Responsabilidad</h4>
      <p class="w3-text-grey">Base de credibilidad en lo justo y fortalecimiento en nuestras virtudes,</p><br>
    
      <h4>Confianza</h4>
      <p class="w3-text-grey">Establecer seguros resultados, mejorando la calidad de vida de nuestros colaboradores</p>
      
      <h4>Laboriosidad</h4>
      <p class="w3-text-grey">Nos forjan grandes, si los demás pueden nosotros podremos más</p><br>
    </div>
    
    <!-- <div class="w3-col l6 w3-padding-large">
      <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div> -->
    <video class="w3-round w3-image w3-opacity-min" alt="Nubes en la playa" width="600" height="750"  src="../static/videos/Video_Hotel3.mp4" autoplay muted loop></video>
  </div>

  

<!-- Adjunto Information service -->



<!-- End Adjunto Information service -->


</div>
<!-- End Page content -->




<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Encuentranos en:</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.courtyard.com" target="_blank" class="w3-hover-text-green">www.courtyard.com</a></p>
  </footer>

<!-- End Footer -->

</body>
</html>
