{% extends './layoutadmin.html' %}
{% block title %}Create room{% endblock %}
{% block collapse %}show{% endblock %}
{% block body %}
    <h2>Create room</h2>
    
    <div class="col-5 form-group">
        <form action="/create-room" method="POST">
            <label for="" class="form-label">Hotel</label>
            <select class="form-select" name="hotel_id" id="hotel" onchange="buscarPiso()">
                <option value="">-----</option>
                {% for hotel in hoteles %}
                    <option value="{{hotel.id}}">{{hotel.name}}</option>
                {% endfor %}
            </select>

            <label for="" class="form-label mt-2">Floor</label>
            <select name="piso" id="pisos" class="form-select">
            </select>

            <label for="" class="form-label mt-2">Number room</label>
            <input type="number" name="numero" id="" class="form-control">

            <label for="" class="form-label mt-2">Capacity</label>
            <input type="number" name="capacidad" id="" class="form-control">

            <label for="" class="form-label mt-2">Price</label>
            <input type="number" name="precio" id="" class="form-control" >

            <label for="" class="form-label mt-2">Description</label>
            <textarea name="descripcion" id="" class="form-control"></textarea>

            <label for="" class="form-label mt-2">State</label>
            <select name="estado" id="" class="form-select">
                <option value="disponible">Available</option>
                <option value="ocupada">Not available</option>
                <option value="mantenimiento">Maintenance</option>
            </select>

            <label for="" class="form-label mt-2">Door key card ID</label>
            <input type="number" name="id_tarjeta_llave" id="" class="form-control">

            <button class="btn btn-primary my-3" type="submit">Save room</button>
        </form>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    </div>
    <div class="col-4 form-group">
    </div>
    
{% endblock %}