{% extends './layout.html' %}
{% block title %}Reserves{% endblock %}
{% block classreserves %}active{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Date</th>
                <th>Number days</th>
                <th>Number room</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in reserves %}
                <tr>
                    <td>Hotel court yard</td>
                    <td>{{reserve.fechaInicio}}</td>
                    <td>{{reserve.cantidadDias}}</td>
                    <td>{{reserve.habitacion.numero}}</td>
                    <td>{{reserve.habitacion.precio * reserve.cantidadDias}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}