<!DOCTYPE html>
<html>
<head>
<title>Servicios</title>
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="css/style2.css") }}">


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>



  
  
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-blue w3-hover-amber w3-padding w3-card" style="letter-spacing:4px;">
      <a href="../index" class="w3-bar-item w3-button">Courtyard/Residence Inn New York Manhattan/Central Park </a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="../index" class="w3-bar-item w3-button">Home</a>
        <a href="#horario" class="w3-bar-item w3-button">Horarios</a>
        <a href="../login" class="w3-bar-item w3-button">Login</a>
      </div>
    </div>
  </div>
  <!-- End Navbar (sit on top) -->




<!-- Page content -->
<div class="w3-content" style="max-width:1600px; " id="rooms">

<!-- Adjunto Information service -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="services">
  <div class="w3-content w3-hover-pale-red ">
    <div class="w3-container">
    <h1 class="w3-center w3-jumbo w3-circle w3-red" style="margin-bottom:64px">Servicios</h1>
    <h2 class="w3-center">Viva el lujo en pleno corazon cultural del centro de la ciudad.</h2>
    <hr>
    <p>Courtyard/Residence Inn New York Manhattan/Central Park es un hotel de lujo de cinco estrellas en el corazón del centro de Manhattan, ubicado directamente frente al Carnegie Hall y a una cuadra de Central Park. Las amplias habitaciones y suites ofrecen vista de amplios ventanales de la ciudad y de los servicios estilo spa. Encuentre serenidad en el Spa Nalai, explore nuestra colección de arte o celebre un evento en uno de nuestros lugares inolvidables.</p>
    <p><strong>El Chef? &nbsp; &nbsp; &nbsp;&nbsp;</strong>Dabiz Muñoz, 'El mejor Chef Awards' 2021.<img src="../static/images/cocinero.jpg" style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
    <p>Estamos orgullosos de nuestros interiores.</p>

    <video width="100%" height="100%" src="../static/videos/Video_Hotel2.mp4" autoplay muted loop></video>

    </div>

    

    <img src="../static/images/juniorsuite.png" style="width:100%" 
    class="w3-margin-top w3-margin-bottom" alt="Servicios de Hotel">

    <iframe width="100%" height="400" src="https://www.youtube.com/embed/F88VTvTW4Vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h5 class="w3-center w3-jumbo w3-circle w3-red" style="text-align: center;" id="horario"><b>Horario de Servicio en Restaurante</b></h5>
    <div style="text-align: center;">
    <div class="w3-row">
      <div class="w3-col s6">
        <p>Lunes y martes 8.00 - 24.00</p>
        <p>Miércoles 10.00 - 24.00</p>
        <p>Jueves 8:00 - 24:00</p>
      </div>
      <div class="w3-col s6">
        <p>Viernes 7:00 - 24:00</p>
        <p>Sábado 6:00 - 24:00</p>
        <p>Domingo Jornada Completa</p>
      </div>
    </div>
    </div>
    
  </div>
</div>

<div class="w3-panel w3-red w3-leftbar w3-padding-32">
  <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> A pedido, podemos ofrecer playstation, babycall, cuidado de niños, equipo para perros, y otros servicios.</h6>
</div>
<!-- End Adjunto Information service -->


</div>
<!-- End Page content -->




<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h5>Encuentranos en:</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.courtyard.com" target="_blank" class="w3-hover-text-green">www.courtyard.com</a></p>
  </footer>

<!-- End Footer -->

</body>
</html>